<div class="well">
  There are <strong><%= @products_length %></strong> products in the database
</div>

<div class="well">
  There are <strong><%= @categories_length %></strong> categories in the database
</div>